.reserve-hall-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  grid-auto-rows: 150px;
  grid-gap: 10px;

  .reserve-hall-list-item {
    background-color: #dbdbdb;
    color : #000000;
    transition: ease all 0.2s;
    border-radius: 10px;
    padding: 10px;

    .reserve-hall-list-item-link {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px;

      &__headline {
        margin: 0;
        text-align: center;
      }

      &__count-tables {
        text-align: center;
        margin-top: 20px;
      }
    }
  }

  .reserve-hall-list-item:hover {
    transform: scale(105%);
  }
}
