.table-general-container__place {
  display: block;
  background-color: #ffffff;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 30px;
  border : 1px solid #1565c0;
  color : #1565c0;
  text-align: center;
  cursor: pointer;

  &:hover, &:active {
    color : #ffffff;
    border : 1px solid #ffffff;
    background-color: #f1943f;
  }

  &_square {
    width: 100px;
    padding-top: 30px;
  }

  &_circle {
    width: 80px;
    padding-top: 15px;
  }

  &_reserved {
    background-color: #cf8282;
    color: #000000;
  }
}
