@import './normalize.scss';

body {
	box-sizing: border-box;
	margin: 0;						/* задание основного стиля страницы, установка нулевых отступов веб-документа, размеров */
	padding: 0;
	min-width: 320px;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-color: #383838;
	line-height: 20px;
}

*, *::before, *::after {  			/* все элементы на странице наследуют border-box для того, чтобы ширина блока высчитывалась по границе,*/
	box-sizing: inherit;
  outline: none;			/*размеры остаются прежними при добавлении границы или padding */
}

body.modal-active {
	overflow: hidden;
}

img {								/* задание размера всех изображений во всю ширину родительского блока */
	max-width: 100%;
}

h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {									/* задание оформления всех ссылок на странице */
	text-decoration: none;
	color: inherit;
}

.fixed-container {					/* контейнер ограничивающий расположение контента по ширине, центровщик */
	max-width: 1320px;
	margin: 0 auto;
}

.visually-hidden {					/* класс для задания скрытого режима отображения элементов */
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.disable-scroll {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
