.header-section {
  padding: 20px 10px;
  background-color: #222222;
  display: flex;

  &__headline {
    font-size: 24px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .lang-control-adm {
      margin-top: 20px;
      padding: 10px;
      background-color: #ffffff;

      .lang-control-adm__label {
        background-color: inherit;
      }
    }
  }

  .header-info-container {
    font-size: 20px;
  }
}

.main-section {
  margin-top: 40px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
