.table-general-container {
  padding: 60px 70px;
  display: flex;
  justify-content: center;
  position: relative;

  .square-table-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #9bebed;
    position: relative;

    .square-table-container__table {
      position: absolute;
      top : 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
