.tableGeneralContainer__place {
  cursor: pointer;
  background-color: #ffffff;
  display: block;
  height: 100%;
  padding-bottom: 30px;
  border : 1px solid #000000;
}

.tableGeneralContainer__place_reserved {
  background-color: #cf8282;
  padding: 60px 33px;
  text-align: center;
}

.tableGeneralContainer__place:hover, .tableGeneralContainer__place:active {
  background-color: #da9c54;
  color : #ffffff;
}
